<!DOCTYPE html>
<title>D3 + Leaflet</title>
<style>
  #map { width: 960px; height: 500px;}
  path { 
    fill: none; 
    stroke: #666; 
    stroke-width: 1px;
  }

  path:hover { 
    fill: brown;
    fill-opacity: .7;
  }
</style>
<div id="map"></div>

<script>
var map;

$().ready(initialize);

function initialize()
{
    map = new L.Map('map', {
        center: new L.LatLng(37.8,-96.9),
        zoom: 3,
    });


var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/30d1976aef28416ba4e9ed7cdd909ad8/5870/256/{z}/{x}/{y}.png',
    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18});

    map.addLayer(cloudmade);

    map.setView(new L.LatLng(40, -90), 3);                

    $.ajax({
        type: 'GET',
        url: 'tweets.json',
        dataType: 'json',
        success: generateHeatMap,
        error:  function(req, message) {
            console.log('Error loading map: ' + message);
        }
    });
}

function generateHeatMap(json)
{
  console.log(json);
  // var heatmap = new L.TileLayer.HeatCanvas({},
        // {'step':0.07, 'degree':HeatCanvas.LINEAR, 'opacity':0.5});

  $.each(json.features, function(i, item) {
    if (item.geo !== null) {
      // heatmap.pushData(item.geo.lat, item.geo.lng, item.s);
      var circleLocation = new L.LatLng(item.geo.lat, item.geo.lng, true),
      circleOptions = {
         weight: 2, 
         color : '#000',
         fillColor: '#222',
         opacity: 0.1,
         fillOpacity: 0.5,
         radius: 10
      }

    var circle = new L.CircleMarker(circleLocation, circleOptions);//,
         
    map.addLayer(circle);
    }
  });

  map.addLayer(heatmap);

}

function addQuake(quake)
{
    var colors = getColor(quake.size),
        circleLocation = new L.LatLng(quake.latitude, quake.longitude, true),
        circleOptions = {
            weight: 4, 
            color : colors.stroke,
            fillColor: colors.fill,
            opacity: 0.5,
            fillOpacity: 0.8,
            radius: quake.size*2
        };

    var circle = new L.CircleMarker(circleLocation, circleOptions);//,
    popupContent = '<h3>' + quake.title + '</h3><br/>' +
        '<strong>Magnitude:&nbsp;</strong>' + quake.size + '<br/>' +
        '<strong>Location:&nbsp;</strong>' + quake.latitude + ', ' + quake.longitude + '<br/>';

    circle.bindPopup(popupContent);
    map.addLayer(circle);
}

</script>
