<!DOCTYPE html>
<title>D3 + Leaflet</title>

<div id="main-content">
    <div role="global-header">
        <img src="http://www.gettyimages.ca/Images/GlobalNav/logo-GettyImages.png"/>
        <h3>Mapstream</h3>
        <input id="searchBar" type="text" placeholder="Search for an event" />
        <a id="search" class="button expand postfix">Search</a>
    </div>

    <div id="info">
        <h4>Introducing Mapstream</h4>
        <h4 class="subheader">A social-based geographic search for Editorial imagery</h4>
    </div>
    <div id="tweets"></div>
</div>

<div id="map-content">
    <div id="map"></div>
</div>

