<!DOCTYPE html>
<title>D3 + Leaflet</title>

<div role="global-header" class="row collapse">
    <div class="two columns">
        <img src="http://www.gettyimages.ca/Images/GlobalNav/logo-GettyImages.png"/>
        <h3>Mapstream</h3>
    </div> 

    <div class="eight columns">
        <input type="text" />
    </div>
    <div class="two columns">
        <a class="button expand postfix">Search</a>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div id="map"></div>
    </div>
</div>

<script>
var map;

$().ready(initialize);

function initialize()
{
    map = new L.Map('map', {
        center: new L.LatLng(37.8,-96.9),
        zoom: 3,
    });


    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/30d1976aef28416ba4e9ed7cdd909ad8/5870/256/{z}/{x}/{y}.png',
    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18});
    map.addLayer(cloudmade);

    map.setView(new L.LatLng(40, -90), 3);                

    $.ajax({
        type: 'GET',
        url: 'test.json',
        dataType: 'json',
        success: plotPoints,
        error:  function(req, message) {
            console.log('Error loading map: ' + message);
        }
    });
}

function plotPoints(json) {
  var markers = new L.MarkerClusterGroup();

  $.each(json, function(i, item){
    var location = new L.LatLng(item.coords.lat, item.coords.long);
    var marker = new L.Marker(location);
    var msg = '<h3>' + item.city + '</h3>' + 
    '<img src="' + item.image + '">' +
    '<p>something something shomething seomthigggg</p>';
    marker.bindPopup(msg);
    markers.addLayer(marker);
});

  map.addLayer(markers);
}
</script>